.radio-button {
    --check-size : 7px;
    --radio-button-size: 15px;
}

.radio-button__container{
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 16px;
}

.radio-button__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    opacity: 0;
}

.radio-button__checkmark {
    width: var(--radio-button-size);
    height: var(--radio-button-size);
    background-color: var(--color-input-bkg);
    border: 1px solid var(--color-neutral-input-border);
    border-radius: 50%;
    position: relative;
    margin-right: 8px;
}

.radio-button__checkmark:after {
    content: "";
    width: var(--check-size);
    height: var(--check-size);
    background-color: unset;
    position: absolute;
    top: calc(( var(--radio-button-size) / 2 ) - ( var(--check-size) / 2 ));
    left: calc(( var(--radio-button-size) / 2 ) - ( var(--check-size) / 2 ));
    border-radius: 50%;
    transition: all 0.2s;
}

.radio-button__input:checked + .radio-button__checkmark:after {
    background-color: var(--color-accent);
}